*.tfvars filter=crypt diff=crypt merge=crypt
*secrets* filter=crypt diff=crypt merge=crypt
*.crt filter=crypt diff=crypt merge=crypt
*.key filter=crypt diff=crypt merge=crypt
*.pem filter=crypt diff=crypt merge=crypt

# In case the 'output' folder anywhere in the hierarchy is added,
# it will be encrypted if trustcrypt is installed
**/output/* filter=crypt diff=crypt merge=crypt