apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: zitadel
  namespace: ${zitadel_namespace}
spec:
  instances: 1
  imageName: ghcr.io/cloudnative-pg/postgresql:17.5
  bootstrap:
    initdb:
      database: ${postgres_database}
      owner: ${postgres_user}
  managed:
    services:
      disabledDefaultServices: ["ro", "r"]
  enableSuperuserAccess: true
  startDelay: 180
  stopDelay: 180
  storage:
    size: 3Gi