machine:
  network:
    hostname: ${node_name}

# This patch disables Flannel (Talos' default CNI), kube-proxy and installs Cilium.
# See https://www.talos.dev/v1.9/kubernetes-guides/network/deploying-cilium/#installation-using-cilium-cli for more details.
cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
  inlineManifests:
  - name: cilium
    contents: |
      ${indent(6, cilium_manifest)}