talos_linux_version = "1.10.4"
target_kube_version = "1.32"

cilium_version                 = "1.17.5"
cert_manager_version           = "1.18.1"
external_dns_version           = "8.8.6"
sealed_secrets_version         = "2.17.3"
local_path_provisioner_version = "0.0.32"

proxmox = {
  name      = "sanctum"
  host      = "192.168.178.25"
  endpoint  = "https://192.168.178.25:8006"
  insecure  = true
  api_token = "user@realm!token-id=token-value"
  username  = "root"
  ssh_user  = "root"
  ssh_key   = "~/.ssh/id_rsa"
  iso_store = "local"
}

cluster = {
  name          = "talos"
  gateway       = "192.168.178.1"
  endpoint      = "192.168.178.110"
  lb_cidr       = "192.168.178.223/31"
}

nodes = [
  # Note: you can have more nodes if you want - even on different hosts, but I have not tried this
  {
    name          = "talos-ctrl-00"
    description   = "Talos Control Plane"
    tags          = ["vm", "talos", "k8s", "controlplane"]
    host          = "sanctum"
    machine_type  = "controlplane"
    ip            = "192.168.178.110"
    mac_address   = "BC:24:11:2E:C8:00"
    vm_id         = 810
    cpu           = 8
    ram           = 16384
    datastore_id  = "local"
    # Virtiofs Mappings; need static pod to mount them
    vfs_mappings  = ["music-storage", "pictures-storage"]
  }
]
