apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: step-ca-acme-issuer
spec:
  acme:
    server: ${acme_server_directory_url}
    email: ${acme_contact}
    privateKeySecretRef:
      name: ${secret_name}
    caBundle: ${base64encode(acme_root_certificate)}
    solvers:
    - http01:
        ingress:
          ingressClassName: cilium